/* googlefont   */
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    height: 100vh;
    width: 100%h;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(hero-cover.3.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.brand{
    margin: 2px;
    padding: 16px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
.navlinks{
    flex: 1;
    text-align: center;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 100%;
}
.textbox{
    width: 90%;
    color: #fff;
    position: absolute;
    transform: translate(-50%,-50%)
    text-align: center;
}

.textbox h1{
    font-size: 70px;
    text-align: center;
}
.textbox p{
    margin: 10px 0 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.textbox h3{
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: absolute;
    
}
.herobtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 12px 15px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    align-items: center;
}
.herobtn:hover{
    border: 1px solid #fff;
    background: rgb(45, 189, 214);
    transition: 1s;

}
.btn{
    flex: 1;
    text-align: right;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    /* padding: 12px 15px; */
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    align-items: right;
}
.btn{
    border: 1px solid #fff;
    background: rgb(45, 189, 214);
    transition: 1s;

}

{
    box-sizing: border-box;
  }
  
  .column {
    align-items: ;
    float: left;
    width: 25.33%;
    padding: 10px 30px;
  }
  

  /* .row {margin: 0 33.33%px;} */
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* riviews */
  .reviews{
      width: 80%;
      margin: auto;
      padding-top: 100px;
      text-align: center;
  }
  .reviewcol{
      flex-basis: 44%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: left;
      background: #fff3f3;
      padding: 25px;
      cursor: pointer;
      display: flex;
  }
  .reviewcol img{
      height: 40px;
      margin: 5px;
      border-radius: 50%;
  }